<div class="container">
    <div class="row col-md-12">
        <table class="table table-responsive table-bordered table-striped table-hover">
            <tr align="center">
                <th align="center">
                    <span class="alert alert-info">Imagen</span>
                </th>
                <th>
                    <span class="alert alert-info">Nombre</span>
                </th>
                <th>
                    <span class="alert alert-info">EMail</span>
                </th>
                <th>
                    <span class="alert alert-info">Telefono</span>
                </th>
                <th>
                    <span class="alert alert-info">Website</span>
                </th>
                <th>
                    <span class="alert alert-info">Mensaje</span>
                </th>
                <th></th>
            </tr>
            <tr>
                <td><img src="archivos/1519357861717.jpg" height="300" width="300" /></td>
                <td>Alex Lora</td>
                <td>edwardoluhan@gmail.com</td>
                <td>123123122</td>
                <td></td>
                <td></td>
                <td><button class="form-control btn btn-default">Revisado</button></td>
            </tr>

        </table>

    </div>
</div>
<script src="js/jquery.js"></script>
