<link rel="stylesheet" href="css/bootstrap.min.css">

<div class="row">
    <table class="table table-bordered table-striped table-hover">
        <tr>
            <th><span class="alert alert-info">Imagen</span></th>
            <th><span class="alert alert-warning">Nombre </span></th>
            <th><span class="alert alert-success">Email</span></th>
            <th><span class="alert alert-info">Teléfono</span></th>
            <th><span class="alert alert-warning">Website</span></th>
            <th><span class="alert alert-success">Mensaje</span></th>
            <th><span class="alert alert-success">Revisado</span></th>
        </tr>
        <tr>
            <td><img src="archivos/1519357861717.jpg" height="300" width="300" /></td>
            <td>Eduardo</td>
            <td>edwardoluhan@gmail.com</td>
            <td>1234567890</td>
            <td>asdajdsdk</td>
            <td>Mensaje</td>
            <td>
                <label class="btn btn-primary">
                        <input type="checkbox" checked autocomplete="off"> Checkbox 3
                    </label>
            </td>
        </tr>
    </table>
</div>
